# dependencies
/node_modules

# next.js
/.next
/out
/.vercel
/.data

# production
/build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
playwright-report/
test-results/

# env files
.env*
!.env.example

# macOS
.DS_Store
